{% extends "layout.njk" %}

{% block content %}
    <div id="{{ post.id }}" class="block-post">
        <img src="{{ post.recipes_url }}"> 
        <h2>
            {{ post.title }}
        </h2>

        <h3>Autor: {{ post.author }}</h3>

        <div class="recipes-information">
            <h3>Ingredientes:</h3>
            <ul>
                {% for item in post.ingredients %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>    
            
            <h3>Modo de preparo:</h3>
            <ul>
                {% for item in post.preparation %}  
                    <li>{{ item }}</li>
                {% endfor %}    
            </ul>        

            {% if post.information != "" %}
                <h3>Informações adicionais:</h3>
                <p>{{ post.information }}</p>
            {% endif %}    
            <hr>
            <p>
                <a class="btn" href="/">&lt;&lt; Back</a>
            </p>
        </div>
    </div>    
{% endblock %}